.navy-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #001f3f;
}

.medium-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #0074d9;
}

.dodger-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #1e90ff;
}

.sky-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #87ceeb;
}

.deep-sky-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #00bfff;
}

.cornflower-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #6495ed;
}

.royal-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #4169e1;
}

.steel-blue {
  font-size: 40px;
  font-weight: bolder;
  color: #4682b4;
}
