.counter-container {
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.donate-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.donate-button:hover {
  background-color: #45a049;
}
