body {
  background-color: #ffbab9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.show_main {
  padding: 80px;
  border-radius: 40px;
  background-color: rgba(99, 0, 0, 0.2);
}

.alt1 {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.buttonGo {
  border: 0;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #ff9999;
  transition: color 0.3s ease, background-color 0.6s ease;
}

.buttonGo:hover {
  color: #ff6b6b;
  background-color: white;
}
