.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(204, 153, 204, 0.9);
  color: #fff;
  padding: 30px 20px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin-right: 40px;
}

.menu-link {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}
